*{
    margin: 0;
    padding: 0;
}
html{
    font-size: calc((100*100vw) / 750); 
    background-color: #F2F2F2;
}
body{
    font-size: .24rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
