.box{
    background-color: #F90018;
}
header{
    width: 100%;
    height: .88rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .32rem;
    color: #333;
    padding: 0 .24rem;
    box-sizing: border-box;
    background-color: #fff;
}
header .iconfont{
    font-size: .48rem;
    color: #333;
}
.con1{
    position: relative;
}
.con1-1 img{
    width: 100%;
}
.con1-2 img{
    width: 1.3rem;
    height: 1.3rem;
}
.con1-2 a{
    width: 1.4rem;
    height: 1.8rem;
    display: inline-block;
    background-color: #fff;
    border-radius: .08rem;
    font-size: .24rem;
    color: #FF0000;
    margin: 0 .08rem;
}
.con1-2{
    display: flex;
    position: absolute;
    bottom: .2rem;
}
.con2{
    display: flex;
    justify-content: space-between;
    padding: .2rem .24rem;
}
.con2 .quan{
    width: 3.44rem;
    height: 1.68rem;
    background-color: #FFF4EE;
    border-radius: .12rem;
    padding-left: .24rem;
    box-sizing: border-box;
    position: relative;
}
.quan a{
    font-size: .24rem;
    color: #FF0000;
}
.quan a p:first-child{
    font-size: .4rem;
    padding-top: .24rem;
    padding-bottom: .08rem;
}
.quan a p:nth-child(4){
    position: absolute;
    bottom: 1rem;
    left: 1.6rem;
    background-color: #FF0000;
    border-radius: .16rem;
    color: #fff;
    padding: .02rem .06rem;
}
.quan a p:last-child{
    width: .6rem;
    height: 1.68rem;
    padding: 0 .12rem;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    border-left: .02rem dashed #FF0000;
}
.con3{
    width: 7.02rem;
    height: .88rem;
    line-height: .88rem;
    background-color: #fff;
    font-size: 20px;
    border-radius: .08rem .08rem 0 0;
    position: relative;
    margin: .24rem;
}
.con3-2 a{
    font-size: .28rem;
    color: #333;
    display: inline-block;
    width: 2.2rem;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
}
.con3-2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 0 0 .08rem .08rem ;
    position: absolute;
    left: 0;
    top: .88rem;
    background-color: #fff;
    display: none;
    z-index: 9;
}
.con3:hover .con3-2{
    display: block;
}
.con4 img{
    width: 100%;
}
.con5{
    margin: .24rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}
.shangpin{
    width: 3.44rem;
    height: 5.3rem;
    background-color: #fff;
    text-align: center;
    margin: .1rem 0;
    border-radius: .08rem;
    position: relative;
}
.shangpin a{
    font-size: .24rem;
    color: #333;
}
.shangpin img{
    width: 2.96rem;
    height: 2.96rem;
    padding: .1rem;
}
.shangpin a .ziying{
    background-color: #FF8500;
    border-radius: .12rem;
    padding: .02rem .06rem;
    color: #fff;
}
.shangpin .jieshao{
    width: 3rem;
    height: 1rem;
    overflow: hidden;
    /* 没起作用 */
    text-overflow: ellipsis;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.shangpin p{    
    background-color: #FFE3E3;
    border: .02rem solid #FF0022;
    color: #FF0022;
    margin: .04rem .4rem;
    padding: .04rem 0;
}
.shangpin .jiage{
    color: #FF0022;
    font-size: .32rem;
    position: absolute;
    left:.3rem;
    bottom: 0;
}
.shangpin .qiang{
    color: #FF0022;
    font-size: .32rem;
    position: absolute;
    right: .3rem;
    bottom: 0;
}
footer{
    width: 100%;
    height: 1rem;
    color: #8B8B8B;  
    font-size: .24rem;  
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
    padding: .2rem 0;    
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    bottom: 0;
}
footer a{
    color: #FF0000;
}
footer .iconfont{
    font-size: .4rem;
}

